.charsection{
    display:flex;
    margin-top: 50px;
    margin-left: 30px;
}

.charList{
    list-style: none;
    font-family: 'VALORANT', sans-serif;
    font-size: 30px;
    color: #EBEAE1;
}

.linkColor{
    color: #EBEAE1;
}