.main{
    display: flex;
    background: radial-gradient(#dd3249, #6C172D);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    margin-top: 5%;
}

.vTitle{
    font-family: 'VALORANT', sans-serif;
    font-size: 150px;
    color: #ffffff;
}

.charList{
    list-style: none;
    font-family: 'VALORANT', sans-serif;
    font-size: 50px;
    color: #973f3f;
    margin-top: 120px;
}

.linkColor{
    color: #EBEAE1;
}