.appMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background:radial-gradient(#dd3249, #6C172D);
}

.charBackground{
    display: flex;

    width: 100%;
    height: 90%;
    flex-direction: column;
}

.organize{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.goBack1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height: 10%;
}

.backlink{
    color: #EBEAE1;
    font-family: 'VALORANT', sans-serif;
}