.divcharSpecs{
    background: radial-gradient(#FD445C, #6C172D);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.nameTitle{
    display: flex; 
    font-family: 'VALORANT', sans-serif;
    font-size: 90px;
    color: #EBEAE1;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    height: 10%;
}

.caption{
    max-width: 550px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}

.charImage{
    width: 100%;
    height: 100%;
}


.descriptionTitle{
    width: 100%;
}

.descriptionContainer{
    display: flex;
    max-width: 300px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-family: 'VALORANT', sans-serif;
    color: #EBEAE1;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
}

.articleTitle{
        display: flex;
        max-width: 300px;
        text-transform: capitalize;
}
.article{
    display: flex;
    max-width: 300px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-family: 'VALORANT', sans-serif;
    color: #EBEAE1;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
}

.charListed{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: 'VALORANT', sans-serif;
    font-size: 20px;
    color: #EBEAE1;
    margin-top: 20px;
}

.paragraph{
    font-family: 'VALORANT', sans-serif;
    font-size: 20px;
    color: #EBEAE1;
    margin-top: 20px;
}

.footer{
    display: flex;
    flex-direction: column;
}

.goBack{
    display: flex;
    position: absolute;
    font-family: 'VALORANT', sans-serif;
    bottom: 40px;
    left: 1300px;
}